*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
  font-family: sans-serif;
  overflow-x: clip;
}

button:hover {
  border-color: #646cff;
}
#app{
  width: 100vw;
  height: 100%;
}


@media (prefers-color-scheme: light) {
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
